@charset "utf-8";

/* styles.css */

/* Reset some default styles to avoid surprises */

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    background-color: #555;
}

.slider {
    /* Add your slider styles here */
}

.features {
	
    /* Add your features styles here */
}

.football-games {
	/*background-color: blue;*/
	width: 235px;
	margin-left: 200px;
	
}

.standings {
	/*background-color: yellow;*/
	margin-right: 20px;
	margin-left: 20px;
	flex: 1;
	max-width: 800px;
	
	
    /* Add your standings and stats styles here */
}

.tv {
	margin-top: 10px;
	mar:20px;
	position:relative;
	max-width: 800px; /* Largura máxima para o player de vídeo */
    margin: 0 auto; /* Centraliza horizontalmente */
	
}
.live{

	text-align: center;
	margin-top: 20px; 
	margin-bottom: 20px;
	margin-left: 950px;
	margin-right: 800px;
	font-weight: bold;
	color: white;
	transition: opacity 0.5s;
	transition: background-color 1s;
	cursor: pointer;
	/*background-color: red;*/
	border:none;

}
.live:hover{
	opacity: 0.5;
	color:red;
	background-color: white;
	
	
}
.SCP{
	margin-top: 100px;
	/*background-color: red;*/
	width: 500px;
	display: flex;
	align-items: center;
	margin-right: 200px;
	
	
}

.info{
	height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	
	
}




.footer {
    height: 200px;
	background-color: #333;
    color: #fff;
	margin-top: 20px;
    
    
	
}